.container {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.preview-toolbar-wrap {
  position: absolute;
  top: 0;
  left: 0;
}

.preview-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  ul {
    display: flex;
    flex-wrap: nowrap;
    li {
      cursor: pointer;
    }
  }
}

.preview-panel {
  position: absolute;
  top: 45px;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 90px);
  border-left: 1px solid #4e4e4e;
  padding: 0 5px 0 5px;
}
