<div class="container">

  <mat-toolbar class="edit-toolbar-wrap">
    <div class="editor-toolbar">
      <ul>
        <li title="菜单">
          <button mat-icon-button (click)='toogleMenu()'>
            <mat-icon>apps</mat-icon>
          </button>
        </li>
      </ul>
      <ul>
        <li title="加粗">
          <button mat-icon-button>
            <mat-icon>format_bold</mat-icon>
          </button>
        </li>
        <li title="斜体">
          <button mat-icon-button>
            <mat-icon>format_italic</mat-icon>
          </button>
        </li>
        <li title="分隔线">
          <button mat-icon-button>
            <mat-icon>drag_handle</mat-icon>
          </button>
        </li>
        <li title="引用">
          <button mat-icon-button>
            <mat-icon>format_quote</mat-icon>
          </button>
        </li>
        <li title="代码">
          <button mat-icon-button>
            <mat-icon>settings_ethernet</mat-icon>
          </button>
        </li>
        <li title="数学公式">
          <button mat-icon-button>
            <mat-icon>functions</mat-icon>
          </button>
        </li>
        <li title="链接">
          <button mat-icon-button>
            <mat-icon>insert_link</mat-icon>
          </button>
        </li>
        <li title="有序列表">
          <button mat-icon-button>
            <mat-icon>format_list_numbered</mat-icon>
          </button>
        </li>
        <li title="无序列表">
          <button mat-icon-button>
            <mat-icon>format_list_bulleted</mat-icon>
          </button>
        </li>
        <li title="图片">
          <button mat-icon-button>
            <mat-icon>insert_photo</mat-icon>
          </button>
        </li>
        <li title="表格">
          <button mat-icon-button>
            <mat-icon>grid_on</mat-icon>
          </button>
        </li>
      </ul>
      <ul>
        <li title="编辑模式">
          <button mat-icon-button>
            <mat-icon>mode_edit</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar>

  <div class="editor-panel">
    <app-code-mirror></app-code-mirror>
  </div>
</div>
